<!DOCTYPE html>
<html lang="es">
<head>   
    <meta charset="UTF-8">
    <title>Top 3 Canciones de Dua Lipa</title>
    <link rel="stylesheet" href="styles.css">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HMWRGPFFJN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HMWRGPFFJN');
</script>
    
</head>
<body>

<header>
    <h1>Top 3 Canciones de Dua Lipa</h1>
    <p>Proyecto educativo sin fines de lucro</p>
</header>

